name: Build Wine
on: [ push, pull_request ]
permissions:
  contents: write
  pull-requests: read
env:
  WINE_VERSION: "11.0"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install dependencies
      run: |
        sudo wget -O /usr/include/linux/ntsync.h https://raw.githubusercontent.com/torvalds/linux/refs/tags/v6.18/include/uapi/linux/ntsync.h
        sudo wget -O /usr/include/linux/userfaultfd.h https://raw.githubusercontent.com/torvalds/linux/refs/tags/v6.18/include/uapi/linux/userfaultfd.h

    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Fetch sources
      run: |
        echo "TAG=${{ env.WINE_VERSION }}+$(git rev-parse --short ${{ github.sha }})" >> $GITHUB_ENV

        git clone https://gitlab.winehq.org/wine/wine.git --depth 1 \
          --branch wine-${{ env.WINE_VERSION }}

    - name: Apply patches
      run: |
        echo "INSTALL=${{ github.workspace }}/kombucha-${{ env.TAG }}" >> $GITHUB_ENV

        git -C wine apply "$GITHUB_WORKSPACE"/patches/*.patch

    - name: Install build dependencies
      run: |
        echo "PATH=/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH" >> $GITHUB_ENV

        sudo apt update -y
        sudo apt install \
          autoconf \
          build-essential \
          binutils \
          ccache \
          gettext \
          libasound2-dev \
          libfontconfig-dev \
          libfreetype-dev \
          libgl-dev \
          libgnutls28-dev \
          libpulse-dev \
          libusb-1.0-0-dev \
          libudev-dev \
          libsdl2-dev \
          libunwind-dev \
          libvulkan-dev \
          libwayland-dev \
          libx11-dev \
          libxcomposite-dev \
          libxcursor-dev \
          libxext-dev \
          libxfixes-dev \
          libxi-dev \
          libxkbcommon-dev \
          libxkbregistry-dev \
          libxrandr-dev \
          libxrender-dev \
          mingw-w64

    - name: Configure ccache
      uses: hendrikmuhs/ccache-action@v1.2

    - name: Configure Wine
      working-directory: wine
      run: |
        export CFLAGS='-O2 -ftree-vectorize -pipe -march=x86-64-v2 -mpclmul -msse4.2 -floop-nest-optimize -fgraphite-identity'
        export CROSSCFLAGS="$CFLAGS"
        mkdir -p ${{ env.INSTALL }}
        ./configure \
          CC='ccache gcc' \
          x86_64_CC='ccache x86_64-w64-mingw32-gcc' \
          --prefix=${{ env.INSTALL }} \
          --enable-win64 \
          --host=x86_64 \
          --build=x86_64 \
          --with-mingw=ccache x86_64-w64-mingw64-gcc \
          --disable-win16 \
          --disable-tests \
          --without-capi \
          --without-coreaudio \
          --without-cups \
          --without-dbus \
          --without-ffmpeg \
          --without-gphoto \
          --without-gssapi \
          --without-gstreamer \
          --without-hwloc \
          --without-inotify \
          --without-krb5 \
          --without-netapi \
          --without-opencl \
          --without-oss \
          --without-pcap \
          --without-pcsclite \
          --without-sane \
          --without-v4l2 \
          --without-xinerama \
          --without-xxf86vm \
          --with-alsa \
          --with-fontconfig \
          --with-freetype \
          --with-gettext \
          --with-gnutls \
          --with-opengl \
          --with-pthread \
          --with-pulse \
          --with-sdl \
          --with-udev \
          --with-usb \
          --with-unwind \
          --with-vulkan \
          --with-wayland \
          --with-x \
          --with-xcomposite \
          --with-xfixes \
          --with-xinput \
          --with-xinput2 \
          --with-xrandr \
          --with-xrender \
          --with-xshape \
          --with-xshm

    - name: Build Wine
      working-directory: wine
      run: make -j$(($(nproc) + 1))

    - name: Install Wine
      working-directory: wine
      run: make install-lib LDCONFIG=/bin/true UPDATE_DESKTOP_DATABASE=/bin/true

    - name: Publish
      env:
        GH_TOKEN: ${{ github.token }}
        GH_REPO: ${{ github.repository }}
      run: |
        TARBALL="kombucha-${{ env.TAG }}.tar.xz"

        cd "${{ env.INSTALL }}"/..
        XZ_OPT=-9 tar -Jcf "$TARBALL" "$(basename ${{ env.INSTALL }})"

        gh release create --prerelease --generate-notes "${{ env.TAG }}" "$TARBALL"
