name: Build Wine
on: workflow_dispatch
permissions:
  contents: read
  pull-requests: read
env:
  WINE_VERSION: "10.20"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: 'Install dependencies'
      run: |
        echo "NAME=vinegarhq-wine-${{ env.WINE_VERSION }}" >> $GITHUB_ENV

        sudo wget -O /usr/include/linux/ntsync.h https://raw.githubusercontent.com/torvalds/linux/refs/tags/v6.18/include/uapi/linux/ntsync.h
        sudo wget -O /usr/include/linux/userfaultfd.h https://raw.githubusercontent.com/torvalds/linux/refs/tags/v6.18/include/uapi/linux/userfaultfd.h
        
    - name: 'Checkout Repository'
      uses: actions/checkout@v3

    - name: 'Fetch sources'
      run: |
        git clone https://gitlab.winehq.org/wine/wine.git --depth 1 \
          --branch wine-${{ env.WINE_VERSION }}
        git clone https://gitlab.winehq.org/wine/wine-staging.git --depth 1 \
          --branch v${{ env.WINE_VERSION }}

    - name: 'Apply patches'
      run: |
        echo "INSTALL=${{ github.workspace }}/${{ env.NAME }}" >> $GITHUB_ENV
        
        wine-staging/staging/patchinstall.py --destdir=wine fonts-Missing_Fonts
        patch -d wine -sNp1 < 0001-win32u-Update-the-window-client-surface-even-with-no.patch
        patch -d wine -sNp1 < 0001-win32u-Avoid-a-crash-when-drawable-fails-to-be-creat.patch
        patch -d wine -sNp1 < 0001-win32u-Update-window-state-after-setting-internal-pi.patch
        patch -d wine -sNp1 < 0001-win32u-Iterate-the-client-surfaces-rather-than-the-t.patch
        patch -d wine -sNp1 < 0001-wined3d-Remove-now-unnecessary-pixel-format-restorat.patch
        patch -d wine -sNp1 < dont-load-bitmap-only-ttf-fonts.patch
        patch -d wine -sNp1 < xfixes-hide-cursor.patch
        patch -d wine -sNp1 < fix-winecfg-audio-crash.patch

    - name: 'Install build dependencies'
      run: |
        echo "PATH=/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH" >> $GITHUB_ENV

        sudo apt update -y
        sudo apt install \
          autoconf \
          build-essential \
          binutils \
          ccache \
          gettext \
          libasound2-dev \
          libfontconfig-dev \
          libfreetype-dev \
          libgl-dev \
          libgnutls28-dev \
          libpulse-dev \
          libsdl2-dev \
          libunwind-dev \
          libvulkan-dev \
          libwayland-dev \
          libx11-dev \
          libxcomposite-dev \
          libxcursor-dev \
          libxext-dev \
          libxfixes-dev \
          libxi-dev \
          libxkbcommon-dev \
          libxkbregistry-dev \
          libxrandr-dev \
          libxrender-dev \
          mingw-w64

    - name: 'Configure ccache'
      uses: hendrikmuhs/ccache-action@v1.2

    - name: 'Configure Wine'
      working-directory: wine
      run: |
        export CFLAGS='-O2 -ftree-vectorize -pipe -march=x86-64-v2 -mpclmul -msse4.2 -floop-nest-optimize -fgraphite-identity'
        export CROSSCFLAGS="$CFLAGS"
        mkdir -p ${{ env.INSTALL }}
        ./configure \
          CC='ccache gcc' \
          x86_64_CC='ccache x86_64-w64-mingw32-gcc' \
          --prefix=${{ env.INSTALL }} \
          --enable-win64 \
          --host=x86_64 \
          --build=x86_64 \
          --with-mingw=ccache x86_64-w64-mingw64-gcc \
          --disable-win16 \
          --disable-tests \
          --without-capi \
          --without-coreaudio \
          --without-cups \
          --without-dbus \
          --without-ffmpeg \
          --without-gphoto \
          --without-gssapi \
          --without-gstreamer \
          --without-hwloc \
          --without-inotify \
          --without-krb5 \
          --without-netapi \
          --without-opencl \
          --without-oss \
          --without-pcap \
          --without-pcsclite \
          --without-sane \
          --without-udev \
          --without-usb \
          --without-v4l2 \
          --without-xinerama \
          --without-xxf86vm \
          --with-alsa \
          --with-fontconfig \
          --with-freetype \
          --with-gettext \
          --with-gnutls \
          --with-opengl \
          --with-pthread \
          --with-pulse \
          --with-sdl \
          --with-unwind \
          --with-vulkan \
          --with-wayland \
          --with-x \
          --with-xcomposite \
          --with-xfixes \
          --with-xinput \
          --with-xinput2 \
          --with-xrandr \
          --with-xrender \
          --with-xshape \
          --with-xshm

    - name: 'Build Wine'
      working-directory: wine
      run: make -j$(($(nproc) + 1))

    - name: 'Install Wine'
      working-directory: wine
      run: make install-lib LDCONFIG=/bin/true UPDATE_DESKTOP_DATABASE=/bin/true

    - name: Make artifacts
      run: |
        cd $(dirname ${{ env.INSTALL }})
        XZ_OPT=-9 tar -Jcf ${{ env.NAME }}.tar.xz $(basename ${{ env.INSTALL }})

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.NAME }}
        path: ${{ env.NAME }}.tar.xz
